.part2{
    margin-top: 100px;
   
}
.part2title{
    margin-top: 30px;
    margin-left: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
}
.gif{
    height: 10px;
}